option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: phoneinone_server.wsgi:application
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:ec2:vpc:
    Subnets: "subnet-0feecd75c387b03cd,subnet-0907279ae1bb72182"
    ELBSubnets: "subnet-0834c4eb4589f48c3,subnet-0f74658795df1191f"
    ELBScheme: public
    AssociatePublicIpAddress: false
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: false
    RollingUpdateType: Immutable  
    MaxBatchSize: 1
    MinInstancesInService: 1
    Timeout: PT5M
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp, 22, 22, sg-00f4173c472d5a7a4
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
    IgnoreHealthCheck: true
    Timeout: "60"
    BatchSizeType: Fixed
    BatchSize: 1
  # prod, dev SSL 파일 다름 주의
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:ap-northeast-2:177602935518:certificate/33c34881-69d8-4c5a-9116-a641abc50e52"
  aws:elbv2:listener:80:
    Protocol: HTTP
  # prod, dev ENVRION 각각 설정해줘야 함 주의
  aws:elasticbeanstalk:application:environment:
    ENVIRON: prod
