option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:ec2:vpc:
    Subnets: "subnet-0feecd75c387b03cd,subnet-0907279ae1bb72182"
    ELBSubnets: "subnet-0834c4eb4589f48c3,subnet-0f74658795df1191f"
    ELBScheme: public
    AssociatePublicIpAddress: false
  aws:autoscaling:updatepolicy:rollingupdate:
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateEnabled: true
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:application:environmentsecrets:
    ALLOWED_HOSTS: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:ALLOWED_HOSTS
    AWS_ACCESS_KEY_ID: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_ACCESS_KEY_ID
    AWS_CLOUDFRONT_DOMAIN: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_CLOUDFRONT_DOMAIN
    AWS_CLOUDFRONT_KEY_ID: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_CLOUDFRONT_KEY_ID
    AWS_CLOUDFRONT_KEY_PATH: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_CLOUDFRONT_KEY_PATH
    AWS_S3_REGION_NAME: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_S3_REGION_NAME
    AWS_SECRET_ACCESS_KEY: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_SECRET_ACCESS_KEY
    AWS_STORAGE_BUCKET_NAME: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:AWS_STORAGE_BUCKET_NAME
    DB_HOST: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DB_HOST
    DB_NAME: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DB_NAME
    DB_PASSWORD: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DB_PASSWORD
    DB_PORT: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DB_PORT
    DB_USER: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DB_USER
    DEBUG: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DEBUG
    DJANGO_SECRET_KEY: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:DJANGO_SECRET_KEY
    REVIEW_UPLOAD_KEY: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:REVIEW_UPLOAD_KEY
    SERVER_HOST: arn:aws:secretsmanager:ap-northeast-2:177602935518:secret:pio/prod-4r74tW:SERVER_HOST
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:ap-northeast-2:177602935518:certificate/33c34881-69d8-4c5a-9116-a641abc50e52"
  aws:elbv2:listener:80:
    Protocol: HTTP
