container_commands:
  01_create_env_file:
    command: |
      #!/bin/bash
      SECRET_NAME="pio_${ENVIRON}"
      SECRET_VALUE=$(aws secretsmanager get-secret-value \
        --secret-id "$SECRET_NAME" \
        --region ap-northeast-2 \
        --query SecretString --output text)
      
      echo "$SECRET_VALUE" | jq -r 'to_entries|map("\(.key)=\"\(.value|tostring)\"")|.[]' | sudo tee .env > /dev/null
      
      sudo chown webapp:webapp .env
      sudo chmod 600 .env
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput --clear"
    leader_only: true
