option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: phoneinone_server.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: phoneinone_server.settings
    PYTHONHTTPSVERIFY: "0"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  02_fix_static_permissions:
    command: "chmod -R 755 staticfiles"
    leader_only: true

